# Bace to import  text file

In [1]:
filename = 'TextDocument.txt'

In [2]:
file = open(filename, mode='r') # 'r' is to read
text = file.read()
file.close()

In [3]:
print(text)

YOU don't know about me without you have read a book by
the name of The Adventures of Tom Sawyer; but that
ain't no matter. That book was made by Mr. Mark Twain,
and he told the truth, mainly. There was things which
he stretched, but mainly he told the truth. That is
nothing. never seen anybody but lied one time or
another, without it was Aunt Polly, or the widow, or
maybe Mary. Aunt Polly--Tom's Aunt Polly, she is--and
Mary, and the Widow Douglas is all told about in that
book, which is mostly a true book, with some
stretchers, as I said before.

******************

# Anter way to import text file

In [4]:
with open('TextDocument.txt','r') as file:
    print(file.read())

YOU don't know about me without you have read a book by
the name of The Adventures of Tom Sawyer; but that
ain't no matter. That book was made by Mr. Mark Twain,
and he told the truth, mainly. There was things which
he stretched, but mainly he told the truth. That is
nothing. never seen anybody but lied one time or
another, without it was Aunt Polly, or the widow, or
maybe Mary. Aunt Polly--Tom's Aunt Polly, she is--and
Mary, and the Widow Douglas is all told about in that
book, which is mostly a true book, with some
stretchers, as I said before.

-------------

# Importing flat files using numpy

In [5]:
import numpy as np
f_name ='Book.csv'

In [6]:

data = np.loadtxt(f_name,delimiter=',',skiprows=1)

In [7]:
print(data)

[[144.  80.]
 [174.  73.]
 [155.  65.]
 [140.  44.]
 [130.  40.]
 [ 90.  45.]]

skiprows=1
this fro delete headers

usecols=[?]
this fro delete specific columns

-------------

# Importing using pandas

In [8]:
import pandas as pd

In [9]:
filename = 'bikes_data.csv'
data = pd.read_csv(filename)

In [10]:
data.head()

,Company,Country of Origin,Model,Number of cc,Horsepower,Torque,Transmission Type,Drivetrain,Number of Seating,Price (in INR),Year,Looks,Body Type,Engine Type,Number of Cylinders
0,Aprilia,Italy,RS 660,659,100 hp,67 Nm,6-speed quickshifter,Chain,2,"INR 10,99,000",2021,Sport,Naked,Parallel-twin,2
1,Aprilia,Italy,Tuono 660,659,100 hp,67 Nm,6-speed quickshifter,Chain,2,"INR 11,99,000",2021,Sport,Naked,Parallel-twin,2
2,Aprilia,Italy,RS 125,124.9,15 hp,12 Nm,6-speed manual,Chain,2,"INR 4,49,000",2022,Sport,Racing,Single-cylinder,1
3,Aprilia,Italy,Shiver 900,896,95 hp,90 Nm,6-speed manual,Shaft,2,"INR 13,99,000",2022,Adventure,Naked,V-twin,2
4,Aprilia,Italy,Tuono 1100,1077,175 hp,121 Nm,6-speed manual,Shaft,2,"INR 19,99,000",2022,Adventure,Naked,V-twin,2

-------------

# Pickled files
is a serialized file format in Python. It is used to store Python objects in a binary representation, allowing them to be easily saved to disk and later retrieved.

In [12]:
import pickle
with open('titanic_model.pkl','rb')as file:
    data = pickle.load(file)

In [13]:
print(data)

DecisionTreeClassifier(max_depth=2, random_state=42)


---------

# Importing Excel spreadsheets

In [14]:
import pandas as pd
file = 'Historicalinvesttemp.xlsx'
data = pd.ExcelFile(file)

*print name of pages

In [15]:

print(data.sheet_names)

['Sheet1']

*print data of fist page

In [16]:
sheet_name = data.sheet_names[0]  # Assuming you want to print the first sheet
df = data.parse(sheet_name)       # Load the sheet into a DataFrame

print(df)

   Unnamed: 0                        Unnamed: 1 Unnamed: 2 Unnamed: 3
0         NaN                               NaN        NaN        NaN
1         NaN                               NaN        NaN        NaN
2         NaN                               NaN        NaN        NaN
3         NaN                               NaN        NaN        NaN
4         NaN  Annual Returns on Investments in        NaN        NaN
..        ...                               ...        ...        ...
85       2007                            0.0549     0.0988     0.0466
86       2008                             -0.37     0.2587      0.016
87       2009                            0.2646     -0.149      0.001
88        NaN                            stocks     tbills      bonds
89   averages                               NaN        NaN        NaN

[90 rows x 4 columns]

-------

# SAS and Stata files
SAS: Statistical Analysis System
Stata: “Statistics” + “data”
SAS: business analytics and biostatistics
Stata: academic social sciences research

In [17]:
import pandas as pd
from sas7bdat import SAS7BDAT
with SAS7BDAT('skinproduct_vfdemo.sas7bdat') as file:
    df_sas = file.to_data_frame()

In [18]:
df_sas

,ProductKey,DistributionCenter,DATE_CHAR,Discount,Revenue
0,Alex's Anti Dandruff Shampoo 17 dl,Atlanta,02/10/2013,0.0,35966.0
1,Alex's Anti Dandruff Shampoo 17 dl,Atlanta,02/17/2013,0.0,25270.0
2,Alex's Anti Dandruff Shampoo 17 dl,Atlanta,02/24/2013,0.0,20980.0
3,Alex's Anti Dandruff Shampoo 17 dl,Atlanta,03/03/2013,0.0,86823.0
4,Alex's Anti Dandruff Shampoo 17 dl,Atlanta,03/10/2013,0.0,21888.0
...,...,...,...,...,...
147065,Sujatha's Sensitve skin Lotion 8 dl,Toronto,02/15/2015,0.0,27027.0
147066,Sujatha's Sensitve skin Lotion 8 dl,Toronto,02/22/2015,0.0,28124.0
147067,Sujatha's Sensitve skin Lotion 8 dl,Toronto,03/01/2015,0.0,25574.0
147068,Sujatha's Sensitve skin Lotion 8 dl,Toronto,03/08/2015,0.0,25812.0
147069,Sujatha's Sensitve skin Lotion 8 dl,Toronto,03/15/2015,0.0,25532.0

# Importing HDF5 file

In [19]:
import h5py
filename = 'hdf5create.hdf5'

In [20]:
data = h5py.File(filename, 'r')

In [21]:
print(data)

<HDF5 file "hdf5create.hdf5" (mode r)>

# Importing a .mat file

In [22]:
import scipy.io
filename = 'cross_pamap.mat'
mat = scipy.io.loadmat(filename)

In [23]:
print(type(mat))

<class 'dict'>

# sqlite

In [24]:
from sqlalchemy import create_engine
import pandas as pd

# Create a database engine
engine = create_engine('sqlite:///sqlite.sqlite')
con = engine.connect()

con.close()